body {
  margin: 0 auto;
  /*font-family: 'Comfortaa', cursive;*/
  font-family: 'Gudea', sans-serif;
}

.splash-container {
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff7e7e;
  height: 135px;
}

.big-circle {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: white;
}

.small-circle {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 70px;
  height: 70px;
  background: #e53e3e;
  border-radius: 35px;
}

.smaller-circle {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 30px;
  width: 30px;
  background: #ffffff;
  z-index: 10;
  border-radius: 35px;
}

/* contains auth and personal stats */
.personal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e2fff7;
  min-height: 120px;
  padding: 30px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #e2fff7;
  min-height: 120px;
}

.profile-container h3 {
  margin: 10px;
}

.profile-container img {
  height: 100px;
  width: 100px;
  border-radius: 44px;
}

.auth-button {
  border-radius: 10px;
  border: 2px solid #bdbdff;
  color: #6161a8;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.auth-button:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid #60d9ff;
}

.sign-out-button {
  border-radius: 10px;
  border: 2px solid #bdbdff;
  color: #6161a8;
  padding: 7px;
  cursor: pointer;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}

.sign-out-button:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid #60d9ff;
}

.personal-stats-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 385px;
}

.personal-stats-container {
  border-radius: 10px;
  background: rgba(154, 126, 255, 0.1);
  padding: 10px;
  margin: 2px;
  cursor: default;
}

.stat-holder {
  border-radius: 10px;
  border: 2px solid #bdbdff;
  color: #6161a8;
  padding: 10px;
  margin: 10px;
}

.stat-type {
  font-size: 13px;
}

.stat-value {
  font-size: 18px;
}

.new-game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.new-game-info {
  display: flex;
  margin-top: 10px;
}

.user-selector-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-selector {
  border-radius: 10px;
  border: 2px solid #bdbdff;
  color: #6161a8;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

.user-selector:hover {
  transition: all 0.3s ease-in-out;
  border: 2px solid #60d9ff;
}

.user-selector-active {
  border-radius: 10px;
  border: 2px solid #bdbdff;
  background: rgba(190, 255, 205, 0.73);
  color: #6161a8;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

.user-selector-winner {
  border-radius: 10px;
  border: 2px solid #bdbdff;
  background: rgb(255, 126, 126);
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

.whos-playing {
  margin: 5px;
  border-radius: 10px;
  background: rgba(154, 126, 255, 0.1);
  padding: 10px 10px;
}

.submit-button {
  border-radius: 10px;
  border: 2px solid #bdbdff;
  background: rgb(217, 217, 255);
  color: #406fff;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
}

.submit-button:active {
  background: rgb(189, 189, 255);
}

.king-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #bdbdff;
  background: rgb(217, 217, 255);
  color: #406fff;
  height: 44px;
  font-size: 25px;
  margin: 0px 10px;
}

.pie-wrapper {
  position: relative;
  height: 60px;
}

.pie-chart-container {
  position: absolute;
  top: 4px;
}

.percentage-holder {
  position: absolute;
  top: 24px;
  left: 20px;
}

.notes-container {
  font-size: 16px;
  max-width: 200px;
  min-height: 30px;
  border-radius: 10px;
  border: 2px solid #bdbdff;
  margin: 5px;
  outline: none;
  padding: 10px;
}

.results-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.result-container {
  border: 2px solid rgba(255, 126, 126, 0.64);
  width: 100px;
  /*min-height: 125px;*/
  border-radius: 5px;
  margin: 5px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-result {
  font-size: 18px;
}

.result-winner {
  font-size: 2.3em;
  background: #d5ffd5;
  padding: 3px 6px;
  border-radius: 6px;
  margin-top: 4px;
}

.result-players {
  margin-bottom: 7px;
  margin-top: 4px;
}

.result-time {
  font-size: 10px;
  margin-bottom: 3px;
}

.divider {
  width: 500px;
  height: 1px;
  margin-top: 10px;
  background: #b5b5d6;
}

.footer {
  height: 170px;
  background: rgba(255, 126, 126, 0.77);
}
